* {
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.my-margin{
    margin-top: 40px;
}
.chu-hoa{
    font-size: 45px;
    margin-bottom: 0;
}
.screenshot{
    /* background-image: url("../img/home-screenshot-win.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; */
    width: 100%;
    background-repeat: no-repeat;
}
.my-bacground-black {
  background: #2c2c32;
}
.logo-vs {
    position: absolute;
    width: 24px;
    z-index: 1;
    padding-top: 2.1px;
}
.my-container {
  padding: 0;
}
.collapse .navbar-nav-scroll .nav-item {
  margin-left: 5px;
}
.my-style {
  padding: 0;
}
.banner {
  background: #25252b;
  padding: 0;
}
.update-version {
  text-decoration: none;
}
.banner .message {
  color: #ccc;
  padding-left: 250px;
  margin: 10px;
}
.banner .container {
  text-align: center;
  padding: 0;
}
.background-download {
  background: #0066b8;
  height: 50px;
  padding: 14px;
  cursor: pointer;
}
.background-download:hover {
  background-color: #005ba4;
}
.logo-download:hover {
  color: white;
}
.logo-download {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.logo-download .img-download{
  width: 24px;
}
.my-search {
  border-radius: 0px !important;
  border: none;
  height: 50px;
  background: #3d3d42;
  width: 183px;
}
.my-search::placeholder{
  color: rgba(255,255, 255, .8);
  font-size: 14px;
}
.my-search:focus {
  background: #3d3d42 !important;
  color: white !important;
  box-shadow: none !important;
  outline: 1px solid rgba(255,255, 255, .5);
  outline-offset: -1px;
}
.text-vs {
  margin-left: -8px;
    font-size: 19px;
}
.abc {
  background: url("../img/search.svg") left no-repeat;
  /* width: 50px; */
  /* height: 50px; */
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 0;
  display: block;
  width: 3em;
  line-height: 3.5em;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
