* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
background-color: #0066b8 !important;
border-radius: 0;
border: none;
}
.btn:hover,
.btn:focus {
background-color: #005ba4 !important;
}

a {
color: #0071bc;
text-decoration: none;
}
a:hover,
a:focus {
text-decoration: underline !important;
color: #005893;
}

.hello-2 {
background-color: #eee;
/* width: 100%;
padding: 6rem 0 4rem;
min-height: 21.65rem; */
}
.customize-row-download-system {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0rem auto;
  width: 61rem; */
}
/* @media screen and (min-width:950px) {
  .customize-row-download-system{
    flex-wrap: wrap;
  }
} */
.col-md-4{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.img-logo {
  width: 5.4rem;
  height: 6.4rem;
  /* margin: 0rem auto; */
}
@media screen and (max-width: 1000px) {

}
.windows {
  /* margin-right: 2rem; */
}
.button-download-windows {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  /* margin-top: 1rem;
  margin-left: 0rem; */
  width: 240px;
}
/*lấy div "gần nhất"  */
.button-download-windows .win-1 {
  /* margin-bottom: 0.5rem; */
}
.button-download-windows span {
  font-size: 1.1rem;
  font-weight: 600;
}
.button-download-windows img {
  width: 16px;
  /* margin-top: -7px;
  margin-right: 0.7rem; */
}

.button-download-linux-1,
.button-download-linux-2 {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  /* margin-top: 1rem; */
  /* display: inline-block; */
  width: 147px;
}

/*lấy div "gần nhất"  */
.button-download-linux-1 .linux-1,
.button-download-linux-2 .linux-2 {
  /* margin-bottom: 0.5rem; */
}
.button-download-linux-1 span,
.button-download-linux-2 span {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.button-download-linux-1 img,
.button-download-linux-2 img {
  width: 16px;
  /* margin-top: -7px;
  margin-right: 0.7rem; */
}

/* button apple*/
.button-download-apple {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  /* margin-top: 1rem;
  margin-left: 2rem; */
  width: 240px;
}

.button-download-apple .apple-1 {
  /* margin-bottom: 0.5rem; */
}
.button-download-apple span {
  font-size: 1.1rem;
  font-weight: 600;
}
.button-download-apple img {
  width: 16px;
  /* margin-top: -7px;
  margin-right: 0.7rem; */
}
.col-md-4 table {
  /* margin-top: 1rem; */
}
.col-md-4 table th {
  /* text-align: center; */
  font-size: 15px;
  font-weight: 600;
}
.col-md-4 table td button {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0 2px;
  border-radius: 3px;
}