* {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
  overflow-y: scroll;
}
/*web này có button đều là màu xanh đậm và hover làm đậm như nhau,
  cho nên tôi set up cố định background cho nó và cả event hover,focus*/
.btn {
  background-color: #0066b8 !important;
  border-radius: 0;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #005ba4 !important;
}

a {
  color: #0071bc;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline !important;
  color: #005893;
}

.my-bacground-black {
  background: #2c2c32;
}
.logo-vs {
  position: absolute;
  width: 24px;
  z-index: 1;
  padding-top: 2.1px;
}
.my-container {
  padding-left: 9px;
}
.my-fixed-top {
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 33%);
}

.my-navbar-left-right .navbar-left .nav-item .learn,
.docs,
.updates,
.blog,
.api,
.extensions,
.faq {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-left .nav-item a:hover{
  color: white;
  text-decoration: none !important;
}
.navbar-left .nav-item a:focus{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none !important;
}
.my-margin {
  margin-top: 62px;
  padding: 0;
  margin-left: -13px;
}
.lead {
  margin: 0;
  color: white;
  opacity: 0.7;
}
.lead p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  letter-spacing: 0.2px;
  padding-left: 7px;
  opacity: 0.99;
}
.text-small {
  font-size: 14px;
}
.button-download-area {
  margin-top: 24px;
  margin-left: 6px;
}
.button-download-area .button-to,
.button-nho {
  border-radius: 0;
  background: #0066b8;
  border: none;
}
.button-download-area .button-to {
  font-size: 18px;
  font-weight: 500;
  height: 65px;
  width: 232px;
}
.button-download-area .button-nho {
  border-radius: 0;
  background: #0066b8;
  border: none;
  width: 43px;
  height: 65px;
  margin-left: -2.4px;
}
.button-download-area .button-to:hover,
.button-nho:hover {
  background-color: #005ba4;
}
.button-download-area .button-to .text-small {
  display: block;
  font-weight: 300;
  margin-top: -1px;
}
.button-download-area .button-nho .img-arrow-down {
  width: 1px;
}
.chu-hoa {
  font-size: 50px;
  margin: 0;
  font-weight: 300;
  margin-top: -1px;
  margin-left: 6px;
}
.chu-hoa-2 {
  font-weight: 400;
  font-size: 50px;
  display: block;
  margin-top: -5px;
}
.my-navbar-left-right .navbar-left .nav-item a:hover {
  color: white;
  opacity: 1;
}
.collapse .navbar-nav-scroll .nav-item {
  margin-left: 5px;
  padding-top: 4px;
  margin-right: 3px;
}
.navbar-right {
  margin-right: -27px;
}
.navbar-right .has-search .icon-search {
  width: 16px;
  position: absolute;
  margin-top: 17px;
  margin-left: 0.85rem;
}
/* hover -> focus -> active 1 trinh tu nhat dinh*/
.navbar-right .has-search .my-search:hover {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  background: rgba(255, 255, 255, 0.18) !important;
}
.navbar-right .has-search .my-search:focus,
.navbar-right .has-search .my-search:active {
  outline: 1px solid rgba(255, 255, 255, 0.5) !important;
  outline-offset: -1px;
  background: rgba(255, 255, 255, 0.18);
}
.my-search {
  border-radius: 0px !important;
  border: none;
  height: 50px;
  background: #3d3d42;
  width: 183px;
  padding-left: 41px;
  padding-top: 4px;
  font-weight: 400;
  color: white;
}
.license-privacy {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: 13px;
  margin-left: 5px;
  font-weight: 300;
}
.license-privacy a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #0098ff;
  margin-top: -1px;
}
.license-privacy a:hover, .license-privacy a:focus {
  color: #0098ff;
}
.subtext {
  background: #25252b;
  border-radius: 8px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  width: 277px;
  height: 36px;
  margin-left: 54px;
  margin-top: 15px;
  font-weight: 400;
  padding-top: 7px;
  padding-left: 1px;
}

.subtext-nav {
  text-decoration: none;
  font-weight: 100;
  color: #0098ff;
}
.subtext a:hover, .subtext a:focus {
  text-decoration: underline;
  color: #0098ff;
}
.screenshot {
  /* background-image: url("../img/home-screenshot-win.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; */
  background-repeat: no-repeat;
  width: 750px;
  padding-top: 30px;
  margin-left: 11px;
  margin-bottom: -4px;
}
.my-margin-2 {
  margin-bottom: 34px;
}

.my-style {
  padding: 0;
}
.banner {
  background: #25252b;
  padding: 0;
  margin-top: 50px;
}
.update-version {
  text-decoration: none;
  color: #0098ff;
}
.update-version:hover, .update-version:focus{
  color: #0098ff;
}
.banner .message {
  color: #ccc;
  padding-left: 259px;
  margin: 10px;
  margin-bottom: 11px;
}
.banner .container {
  text-align: center;
  padding: 0;
}
.button-download {
  text-decoration: none;
  font-weight: bold;
  height: 50px;
  width: 134px;
  border: none;
}
.button-download .text-download {
  font-weight: 500;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
  color: white;
}
.button-download .img-download {
  width: 16px;
  margin-top: 3px;
  margin-left: 2px;
  display: block;
}
.my-search::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13.5px;
  margin-left: 10px;
}
.my-search:focus {
  background: #3d3d42 !important;
  color: white !important;
  box-shadow: none !important;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -1px;
}
.text-vs {
  margin-left: -8px;
  font-size: 19px;
}
.text-vs span{
  padding-left: 35px;
}
.text-vs:hover, .text-vs:focus{
  text-decoration: none !important;
}
.hello {
  height: 128px;
}
.value-prop {
  display: block;
  width: 100%;
  color: #444;
  font-size: 20px;
  padding: 1rem 0;
}
.value-prop:hover{
  text-decoration: none !important;
}
.value-prop:focus{
  color: black;
}
.value-prop .load-image-prop {
  background-image: url(../img/valueprops-top-sprite.svg);
  background-repeat: no-repeat;
  background-size: 13rem 8rem;
  width: 3.3rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 0.4rem; /*cách 1 dòng giữa ảnh và chữ*/
  margin-top: -0.2rem;
}
.pic1 {
  padding-right: 1.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}
.pic2 {
  padding-right: 0.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}
.pic3 {
  padding-left: 0.25rem;
  padding-top: 0.7rem;
  margin-left: 0.1em;
  padding-bottom: 1.2rem;
}
.pic4 {
  padding-left: 1.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}

/* Phải căn chỉnh vị trí các ảnh đã tách cho giống với web vscode vì code không được như nó*/
.value-prop .anh-1 {
  background-position: 0.1rem 0;
}
.value-prop .anh-2 {
  background-position: -3.2rem 0;
}
.value-prop .anh-3 {
  background-position: -6.4rem 0;
  margin-right: 5.2em;
}
.value-prop .anh-4 {
  background-position: -9.8rem 0;
}
/*----------------- hover --------------*/
.col-md-3 a:hover {
  background-color: #e3e3e3;
  color: #000;
}
.pic1:hover .anh-1 {
  background-position: 0.1rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic2:hover .anh-2 {
  background-position: -3.2rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic3:hover .anh-3 {
  background-position: -6.4rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic4:hover .anh-4 {
  background-position: -9.8rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.hello-2 {
  width: 100%;
  padding: 6rem 0 4rem;
  min-height: 21.65rem;
}
.hello-2:nth-child(odd) {
  background-color: #f5f5f5;
}
.hello-2:nth-child(even) {
  background-color: initial;
}
.customize-icon-chevron {
  font-size: 2rem;
  color: darkgreen;
}
.tweet-body a {
  color: #0071bc;
  text-decoration: none;
}
.tweet-body a:hover,
a:focus {
  color: #005893;
  text-decoration: underline;
}
.customize-logo img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 20%);
  float: left;
  margin-left: 10px;
}
.text-content {
  display: inline-block;
  /* border: 1px solid cyan; */
  position: relative;
  top: 0.13rem;
  left: 0.6rem;
  width: 71%;
  color: #444;
  line-height: 1.5rem;
}
.text-content .tweet-body {
  font-size: 17px;
}
.text-content .handle {
  color: #6e6e6e;
  font-size: 0.75rem;
}
.attribution {
  text-decoration: none;
  font-size: 0.85rem;
  color: black;
}
.carousel-control-prev {
  margin-left: -5.2rem;
  margin-bottom: 2.7rem;
}
.carousel-control-next {
  margin-right: -6.5rem;
  margin-bottom: 2.7rem;
}
/*do text-content có positon là relative nên đặt positon cho ::after
  thì sẽ xuất hiện trong khung của text-content*/

.icon-bird-twitter .text-content::after {
  background-image: url("../img_icon/firststart-sidebar-sprite.svg");
  content: ""; /*có before hay after là luôn luôn phải có content rỗng*/
  width: 1rem;
  height: 1.5rem;
  background-size: 4.8rem 2rem;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
  background-position: 50% 50%;
  /* border: 1px solid cyan; */
}
.img-meet img {
  position: relative;
  top: -0.5rem;
  right: 0.7rem;
}
.text-meet {
  position: relative;
  top: -1.1rem;
  left: 5.97rem;
}
h2 {
  font-size: 1.9rem;
  color: #444;
  font-weight: 100;
  letter-spacing: -0.15px;
}
.text-meet p {
  margin-top: 2.1rem;
  line-height: 2.5rem;
  width: 650px;
  font-size: 18px;
}
.text-debug {
  position: relative;
  top: -1.1rem;
  left: 5.97rem;
}
.img-debug img {
  position: relative;
  top: -0.5rem;
  left: 0.7rem;
}
.text-debug p {
  margin-top: 2.1rem;
  line-height: 2.5rem;
  width: 650px;
  font-size: 18px;
}

.img-git img {
  position: relative;
  top: -0.5rem;
  right: 0.7rem;
}
.text-git {
  position: relative;
  top: -1.1rem;
  left: 5.97rem;
}
.text-git p {
  margin-top: 2.1rem;
  line-height: 2.5rem;
  width: 650px;
  font-size: 18px;
}
.img-azure img {
  position: relative;
  top: -0.5rem;
  right: 0.7rem;
}
.text-azure {
  position: relative;
  top: -1.1rem;
  left: 5.97rem;
}
.text-azure p {
  margin-top: 2.1rem;
  line-height: 2.5rem;
  width: 650px;
  font-size: 18px;
}
.text-azure p a {
  color: #0071bc;
  text-decoration: none;
}
.text-azure p a:hover,
.text-azure p a:focus {
  color: #005893;
  text-decoration: underline;
}
.text-extension {
  position: relative;
  top: -1.1rem;
  /* left: 1.97rem; */
}
.text-extension p {
  margin-top: 2.1rem;
  line-height: 2.5rem;
  width: 650px;
  font-size: 18px;
}
.text-extension p a {
  text-decoration: none;
  color: #0071bc;
}
.text-extension p a:hover,
p a:focus {
  color: #005893;
  text-decoration: underline;
}
.img-extension a img {
  width: 100%;
  position: relative;
  top: -2rem;
  left: 0.7rem;
  transition: 0.75s ease 0s;
}
.img-extension a img:hover {
  transform: scale(1.05);
  transition: 0.5 ease 0s;
}
.vs-code-for {
  font-size: 1.7rem;
  color: #444;
  font-weight: 100;
  margin: 3rem 0;
}
.vs-code-for .row {
  margin-left: -3rem;
  margin-right: -3rem;
}
.icon-laptrinh p img {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}
.customize-row-vs-code-for {
  width: 61rem;
  margin: 0 auto;
}
.link-market {
  font-size: 1.1rem;
}
.link-market a {
  text-decoration: none;
  color: #0071bc;
}
.link-market a:hover,
a:focus {
  text-decoration: underline;
  color: #005893;
}
.my-container-section-icon {
  margin-top: -5rem;
}
.get-started-now button {
  padding: 15px 35px !important; /*Không hiểu vì sao nó lại không cho padding, vì vậy mà tôi thêm important*/
  font-weight: 600;
  border-radius: 2px;
  font-size: 20px;
}
.get-started-now button:hover {
  background-color: #005ba4;
}
.customize-row-download-system {
  margin: 0rem auto;
  width: 61rem;
}
.img-logo {
  width: 5.4rem;
  height: 6.4rem;
  margin: 0rem auto;
}
.windows {
  /* position: abolute; */
  margin-right: 2rem;
}
.button-download-windows {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  margin-top: 1rem;
  margin-left: 0rem;
  width: 240px;
}
/*lấy div "gần nhất"  */
.button-download-windows .win-1 {
  margin-bottom: 0.5rem;
}
.button-download-windows span {
  font-size: 1.1rem;
  font-weight: 600;
}
.button-download-windows img {
  width: 16px;
  margin-top: -7px;
  margin-right: 0.7rem;
}

.button-download-linux-1,
.button-download-linux-2 {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 1rem;
  display: inline-block;
  margin-left: 0rem;
  width: 147px;
}

/*lấy div "gần nhất"  */
.button-download-linux-1 .linux-1,
.button-download-linux-2 .linux-2 {
  margin-bottom: 0.5rem;
}
.button-download-linux-1 span,
.button-download-linux-2 span {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.button-download-linux-1 img,
.button-download-linux-2 img {
  width: 16px;
  margin-top: -7px;
  margin-right: 0.7rem;
}

/* button apple*/
.button-download-apple {
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 240px;
}

.button-download-apple .apple-1 {
  margin-bottom: 0.5rem;
}
.button-download-apple span {
  font-size: 1.1rem;
  font-weight: 600;
}
.button-download-apple img {
  width: 16px;
  margin-top: -7px;
  margin-right: 0.7rem;
}
.col-md-4 table {
  margin-top: 1rem;
}
.col-md-4 table th {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.col-md-4 table td button {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0 2px;
  border-radius: 3px;
}
.customize-row-more-about {
  width: 70rem;
  margin: 0 auto;
  margin-top: -3rem;
}
.col-md-6 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  width: 21rem;
  margin-left: 6rem;
}
.col-md-6 p {
  font-size: 1.1rem;
}
.end-main {
  margin-top: 3rem;
}
.end-main p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.end-main .dautien {
  font-weight: 600;
}
/*Chỉnh background footer và position relative để có thể dùng ul absolute*/
.customize-footer {
  width: 100%;
  background: #333;
  height: 95px;
}
.customize-footer .container {
  position: relative;
  /* border: 1px solid red; */
  height: 95px;
}
/* cân bằng khoảng cách trên dưới background footer*/
.footer-left-right ul {
  list-style-type: none;
  padding: 1rem 0;
}

.footer-left,
.footer-right {
  position: absolute;
}
.footer-left {
  top: 50%;
  left: 0;
  /* border: 1px solid yellow; */
}
.footer-right {
  top: 0;
  right: 0;
  /* border: 1px solid darkorchid; */
}

.footer-left .button-github,
.footer-left .button-github-number {
  background-color: #eee !important; /*nếu thắc mắc tại sao lại important, thì đó là do tôi đã setup class btn là blue*/
  padding: 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
.footer-left .button-github-number::before {
  top: 50%;
  left: -3px;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #fafafa;
}
.footer-left .button-github:hover,
.footer-left .button-github.btn:focus,
.footer-left .button-github-number:hover,
.footer-left .button-github-number:focus {
  background-color: #ddd !important;
  color: black;
}
/*cố định list bên trái để cố thể dời list dưới qua phải*/
.footer-left ul li {
  font-size: 0.9rem;
}
/*Tăng khoảng cách giữa các ô li*/
.footer-left li,
.footer-right li {
  color: white;
  display: inline-block;
  padding: 0.5rem;
}
.footer-left li a {
  color: white;
}
.footer-right ul {
  position: relative;
  margin: 0; /* để cho phần dưới hết bị thừa 1 đoạn */
  top: -1.5rem;
}
.footer-right ul li {
  font-size: 0.78rem;
}
.footer-right li a {
  color: white;
}
.footer-right .end-footer-right {
  position: relative;
  top: 1.3rem;
}
.footer-right .button-microsoft {
  background: #333 !important;
  border: none;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.footer-right .copyright {
  display: block;
  font-size: 0.7rem;
}
