* {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
  overflow-y: scroll;
}
.my-navbar-left-right .navbar-left .nav-item .learn,
.docs,
.updates,
.blog,
.api,
.extensions,
.faq {
  color: white;
  opacity: 0.6;
}
.my-margin {
  margin-top: 62px;
  padding: 0;
  margin-left: -13px;
}
.lead {
  margin: 0;
  color: white;
  opacity: 0.7;
}
.lead p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  letter-spacing: 0.2px;
  padding-left: 7px;
  opacity: 0.99;
}
.text-small {
  font-size: 14px;
}
.button-download-area {
  margin-top: 24px;
  margin-left: 6px;
}
.button-download-area .button-to,
.button-nho {
  border-radius: 0;
  background: #0066b8;
  border: none;
}
.button-download-area .button-to {
  font-size: 18px;
  font-weight: 500;
  color: white;
  height: 65px;
  padding-top: 9px;
  width: 232px;
}
.button-download-area .button-nho {
  border-radius: 0;
  background: #0066b8;
  border: none;
  width: 43px;
  height: 65px;
  margin-left: -2.4px;
  padding-top: 18px;
}
.button-download-area .button-to:hover,
.button-nho:hover {
  background-color: #005ba4;
}
.button-download-area .button-to .text-small {
  display: block;
  font-weight: 300;
  margin-top: -1px;
}
.button-download-area .button-nho .img-arrow-down {
  width: 1px;
}
.chu-hoa {
  font-size: 50px;
  margin: 0;
  font-weight: 300;
  margin-top: -1px;
  margin-left: 6px;
}
.chu-hoa-2 {
  font-weight: 400;
  font-size: 50px;
  display: block;
  margin-top: -5px;
}
.my-navbar-left-right .navbar-left .nav-item a:hover {
  color: white;
  opacity: 1;
}
.collapse .navbar-nav-scroll .nav-item {
  margin-left: 5px;
  padding-top: 4px;
  margin-right: 3px;
}
.navbar-right {
  margin-right: -27px;
}
.navbar-right .has-search .icon-search {
  width: 42px;
  position: absolute;
  margin-top: 10px;
}
/* hover -> focus -> active 1 trinh tu nhat dinh*/
.navbar-right .has-search .my-search:hover {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  background: rgba(255, 255, 255, 0.18) !important;
}
.navbar-right .has-search .my-search:focus,
.navbar-right .has-search .my-search:active {
  outline: 1px solid rgba(255, 255, 255, 0.5) !important;
  outline-offset: -1px;
  background: rgba(255, 255, 255, 0.18);
}
.my-search {
  border-radius: 0px !important;
  border: none;
  height: 50px;
  background: #3d3d42;
  width: 183px;
  padding-left: 41px;
  padding-top: 4px;
  font-weight: 400;
  color: white;
}
.license-privacy {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-top: 13px;
  margin-left: 5px;
  font-weight: 300;
}
.license-privacy a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #0098ff;
  margin-top: -1px;
}
.license-privacy a:hover {
  text-decoration: underline;
}
.subtext {
  background: #25252b;
  border-radius: 8px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  width: 277px;
  height: 36px;
  margin-left: 54px;
  margin-top: 15px;
  font-weight: 400;
  padding-top: 7px;
  padding-left: 1px;
}

.subtext-nav {
  text-decoration: none;
  font-weight: 100;
  color: #0098ff;
}
.subtext a:hover {
  text-decoration: underline;
  color: #0098ff;
}
.screenshot {
  /* background-image: url("../img/home-screenshot-win.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; */
  background-repeat: no-repeat;
  width: 750px;
  padding-top: 30px;
  margin-left: 11px;
  margin-bottom: -4px;
}
.my-margin-2 {
  margin-bottom: 34px;
}
.my-bacground-black {
  background: #2c2c32;
}
.logo-vs {
  position: absolute;
  width: 24px;
  z-index: 1;
  padding-top: 2.1px;
}
.my-container {
  padding-left: 9px;
}
.my-fixed-top {
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 33%);
}
.my-style {
  padding: 0;
}
.banner {
  background: #25252b;
  padding: 0;
  margin-top: 50px;
}
.update-version {
  text-decoration: none;
  color: #0098ff;
}
.banner .message {
  color: #ccc;
  padding-left: 259px;
  margin: 10px;
  margin-bottom: 11px;
}
.banner .container {
  text-align: center;
  padding: 0;
}
.background-download {
  background: #0066b8;
  height: 50px;
  padding: 14px;
  cursor: pointer;
  padding-right: 24px;
  width: 135px;
}
.background-download:hover {
  background-color: #005ba4;
}
.button-download:hover {
  color: white;
}
.button-download {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.button-download .text-download {
  font-weight: 500;
  margin-top: -20px;
  display: block;
  margin-left: 27px;
}
.button-download .img-download {
  width: 16px;
  margin-top: 3px;
  margin-left: 1px;
  display: block;
}
.my-search::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13.5px;
  margin-left: 10px;
}
.my-search:focus {
  background: #3d3d42 !important;
  color: white !important;
  box-shadow: none !important;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -1px;
}
.text-vs {
  margin-left: -8px;
  font-size: 19px;
}
/* .has-search .form-control {
  padding-left: 2.55rem;
} */

/* .has-search .form-control-feedback {
  position: absolute;
  z-index: 0;
  display: block;
  width: 3em;
  line-height: 3.5em;
  text-align: center;
  pointer-events: none;
  color: #aaa;
} */
.hello {
  height: 128px;
}
.value-prop {
  display: block;
  width: 100%;
  color: #444;
  text-decoration: none;
  font-size: 20px;
  padding: 1rem 0;
}
.value-prop .load-image-prop {
  background-image: url(../img/valueprops-top-sprite.svg);
  background-repeat: no-repeat;
  background-size: 13rem 8rem;
  width: 3.3rem;
  height: 4rem;
  margin: auto;
  margin-bottom: 0.4rem; /*cách 1 dòng giữa ảnh và chữ*/
  margin-top: -0.2rem;
}
.pic1{
  padding-right: 1.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}
.pic2{
  padding-right: 0.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}
.pic3{
  padding-left: 0.25rem;
    padding-top: 0.7rem;
    margin-left: 0.1em;
    padding-bottom: 1.2rem;
}
.pic4{
  padding-left: 1.4rem;
  padding-top: 0.7rem;
  padding-bottom: 1.2rem;
}

/* Phải căn chỉnh vị trí các ảnh đã tách cho giống với web vscode vì code không được như nó*/
.value-prop .anh-1 {
  background-position: 0.1rem 0;
}
.value-prop .anh-2 {
  background-position: -3.2rem 0;
}
.value-prop .anh-3 {
  background-position: -6.4rem 0;
  margin-right: 5.2em;
}
.value-prop .anh-4 {
  background-position: -9.8rem 0;
}
 /*----------------- hover --------------*/
.col-md-3 a:hover{
  background-color: #e3e3e3;
  color: #000;
}
.pic1:hover .anh-1{
  background-position: 0.1rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic2:hover .anh-2{
  background-position: -3.2rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic3:hover .anh-3{
  background-position: -6.4rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.pic4:hover .anh-4{
  background-position: -9.8rem -3.9rem;
  margin-top: 0.35rem;
  margin-bottom: -0.15rem;
}
.hello-2{
  padding: 6rem 0 6rem;
  min-height: 18.75rem;
}
.hello-2:nth-child(odd){
  background-color: #f5f5f5;
}
.hello-2:nth-child(even){
  background-color: initial;
}
.ava-1{
  width: 10rem;
  height: 10rem;
}