* {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
  overflow-y: scroll;
}
.learn,.docs,.updates,.blog,.api,.extensions,.faq{
  color: white;
  opacity: 0.6;
}
.my-margin {
  margin-top: 62px;
    padding: 0;
    margin-left: -13px;
}
.lead{
  margin: 0;
  color: white;
  opacity: 0.7;
}
.lead p{
  font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    letter-spacing: 0.2px;
    padding-left: 7px;
    opacity: 0.99;
}
.chu-hoa {
  font-size: 50px;
  margin: 0;
  font-weight: 300;
  margin-top: -1px;
  margin-left: 6px;
}
.chu-hoa-2{
  font-weight: 400;
  font-size: 50px;
  display: block;
  margin-top: -5px;
  padding-left: 1px;
}
.my-navbar-left-right .navbar-left .nav-link:hover {
  color: white !important;
}
.navbar-right {
  margin-right: -28px;
}
.screenshot {
  /* background-image: url("../img/home-screenshot-win.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; */
  width: 100%;
  background-repeat: no-repeat;
}
.my-bacground-black {
  background: #2c2c32;
}
.logo-vs {
  position: absolute;
  width: 24px;
  z-index: 1;
  padding-top: 2.1px;
}
.my-container {
  padding-left: 9px;
}
.collapse .navbar-nav-scroll .nav-item {
  margin-left: 5px;
  padding-top: 4px;
  margin-right: 3px;
}
.my-style {
  padding: 0;
}
.banner {
  background: #25252b;
  padding: 0;
}
.update-version {
  text-decoration: none;
  color: #0098FF;
}
.banner .message {
  color: #ccc;
  padding-left: 259px;
  margin: 10px;
  margin-bottom: 11px;
}
.banner .container {
  text-align: center;
  padding: 0;
}
.background-download {
  background: #0066b8;
  height: 50px;
  padding: 14px;
  cursor: pointer;
  padding-right: 24px;
}
.background-download:hover {
  background-color: #005ba4;
}
.button-download:hover {
  color: white;
}
.button-download {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.button-download .text-download {
  padding-left: 3px;
  font-weight: 500;
}
.button-download .img-download {
  width: 16px;
  margin-top: -4px;
}
.my-search {
  border-radius: 0px !important;
  border: none;
  height: 50px;
  background: #3d3d42;
  width: 183px;
}
.my-search::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13.5px;
}
.my-search:focus {
  background: #3d3d42 !important;
  color: white !important;
  box-shadow: none !important;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -1px;
}
.text-vs {
  margin-left: -8px;
  font-size: 19px;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 0;
  display: block;
  width: 3em;
  line-height: 3.5em;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
