* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 575px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  html {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .customize-img-background-guid img{
    width: 100% !important;
  } 
  .message-background-guid.odd{
    padding-left: 5.5rem;
  }
  .message-background-guid.even{
    padding-right: 5.5rem;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .customize-img-background-guid img{
    width: 22.5rem !important;
  }
}


.btn {
  background-color: #0066b8 !important;
  border-radius: 0;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #005ba4 !important;
}

a {
  color: #0071bc;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline !important;
  color: #005893;
}
.hello-2{
  padding: 5rem 0 5rem;
}
.hello-2:nth-child(even){
  background-color: #eee;
}
.hello-2:nth-child(odd){
  background-color: #ddd;
}
.customize-img-background-guid img {
  /* width: 22.5rem; */
  /* width: 100%; */
  /* display: block; */
  width: 60%;
  /* margin: 0 auto; */
}
.message-background-guid{
  padding-left: 0.5rem;
}
.message-background-guid h2 {
  font-size: 1.6rem;
  color: #444;
  font-weight: 100;
}
.message-background-guid p {
  margin-top: 2.2rem;
  line-height: 2.8rem;
  /* width: 35rem; */
  font-size: 1.15rem;
}
/* ////////////////////////////// */
.message-background-guid p a {
  color: #0071bc;
  text-decoration: none;
}
.message-background-guid p a:hover,
.message-background-guid p a:focus {
  color: #005893;
  text-decoration: underline;
}
.customize-img-background-guid p a {
  text-decoration: none;
  color: #0071bc;
}
.customize-img-background-guid p a:hover,
p a:focus {
  color: #005893;
  text-decoration: underline;
}
.img-extension a img {
  width: 100%;
  /* position: relative;
  top: -2rem;
  left: 0.7rem; */
  transition: 0.75s ease 0s;
}
.img-extension a img:hover {
  transform: scale(1.05);
  transition: 0.5 ease 0s;
}