* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 575px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  html {
    font-size: 13.5px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
.hello-2{
  background-color: #ccc;
}
.btn {
  background-color: #0066b8 !important;
  border-radius: 0;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #005ba4 !important;
}

a {
  color: #0071bc;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline !important;
  color: #005893;
}
.value-prop {
  display: block;
  color: #444;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.value-prop:hover{
  text-decoration: none !important;
  background-color: #e3e3e3;
  color: #000;
}
.value-prop:focus{
  color: black;
}
.value-prop .load-image-prop {
  background-image: url(../img/valueprops-top-sprite.svg);
  background-repeat: no-repeat;
  background-size: 13rem 8rem;
  width: 3.2rem;
  height: 4rem;
  margin: 0 auto;
  position: relative;
  top: -0.5rem;
}

/* Phải căn chỉnh vị trí các ảnh đã tách cho giống với web vscode vì code không được như nó*/
.value-prop.pic1 .anh-1 {
  background-position: 0 0;
}
.value-prop.pic2 .anh-2 {
  background-position: -3.3rem 0;
}
.value-prop.pic3 .anh-3 {
  background-position: -6.5rem 0;
}
.value-prop.pic4 .anh-4 {
  background-position: -9.8rem 0;
}
/*----------------- hover --------------*/
.value-prop:hover .load-image-prop{
    position: relative;
    top: 0.05rem;
}
.value-prop.pic1:hover .anh-1 {
   background-position: 0rem -3.9rem;
}
.value-prop.pic2:hover .anh-2 {
  background-position: -3.3rem -3.9rem;
}
.value-prop.pic3:hover .anh-3 {
  background-position: -6.5rem -3.9rem;
}
.value-prop.pic4:hover .anh-4 {
  background-position: -9.8rem -3.9rem;
}